<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>

    <style>
        .warning{
            color: red;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navigation :: navigation"/>
<form method="post" th:action="@{/mvc/book/addOrEdit}" th:object="${book}">
    <input type="hidden" th:field="*{id}"/>
    Tytuł: <input type="text" required th:field="*{title}"></br>
    <span class="warning" th:if="${ #fields.hasErrors('title')}" th:errors="*{title}"></span></br>
    Autor: <input type="text" required th:field="*{author}"></br>
    <span class="warning" th:if="${ #fields.hasErrors('author')}" th:errors="*{author}"></span></br>
    Ilosc: <input type="number" required th:field="*{quantity}"></br>
    <span class="warning" th:if="${ #fields.hasErrors('quantity')}" th:errors="*{quantity}"></span></br>

    <input type="submit" value="Zapisz"/>


</form>

</body>
</html>

