<!DOCTYPE html>
<html lang="pl" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Księgarnia</title>
</head>
<body>
<h1>Rejestracja</h1>
<form method="post" th:action="@{/mvc/register}" th:object="${userRegister}">
    Nazwa: <input type="text" th:field="*{username}"/>
    Hasło: <input type="password" th:field="*{password}"/>
    Rola: <select th:field="*{role}">
    <option value="ADMIN">admin</option>
    <option value="USER">Klient</option>
</select></br>
    <input type="submit" value="Zarejestruj">


</form>

</body>
</html>
